@use 'components/typography';

.member {
  position: relative;
  z-index: -1;

  @media (max-width: 767px) {
    padding-bottom: 56px;
  }
}

:global(div#app) {
  overflow: hidden;
}

.member-wrap {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 56px;
  }
}

// amber
.ambers img {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

.amber {
  &-1 {
    left: 82%;
    top: 66%;
    width: 250px;
    transform: rotate(45deg);
    @media (max-width: 600px) {
      top: 2%;
    }
  }

  &-2 {
    left: -4%;
    top: 8%;
    width: 120px;
    transform: rotate(134deg);
  }

  &-3 {
    left: 80%;
    top: 12%;
    width: 278px;
    transform: rotate(24deg);
  }

  &-4 {
    left: 77%;
    top: 44%;
    width: 310px;
    transform: rotate(94deg);
  }

  &-5 {
    left: 60%;
    top: 31%;
    width: 230px;
    transform: rotate(189deg);
  }

  &-6 {
    left: 80%;
    top: 90%;
    width: 332px;
    transform: rotate(144deg);
  }

  &-7 {
    left: 40%;
    top: 81%;
    width: 170px;
    transform: rotate(54deg);

    @media (max-width: 600px) {
      left: -10%;
      top: 88%;
    }
  }

  &-8 {
    left: -17%;
    top: 33%;
    width: 350px;
    transform: rotate(84deg);
  }

  &-9 {
    left: 29%;
    top: 19%;
    width: 170px;
    transform: rotate(23deg);

    @media (max-width: 600px) {
      left: 20%;
      top: 40%;
    }
  }

  &-10 {
    left: 6%;
    top: 66%;
    width: 330px;
    transform: rotate(170deg);
  }

  &-11 {
    left: -26%;
    top: 59%;
    width: 270px;
    transform: rotate(123deg);
  }

  &-12 {
    left: -19%;
    top: 49%;
    width: 320px;
    transform: rotate(339deg);
  }

  &-13 {
    left: -10%;
    top: 27%;
    width: 150px;
    transform: rotate(264deg);
  }

  &-14 {
    left: 71%;
    top: 71%;
    width: 180px;
    transform: rotate(143deg);
  }

  &-15 {
    left: 78%;
    top: 55%;
    width: 230px;
    transform: rotate(124deg);
  }

  &-16 {
    left: -10%;
    top: 98%;
    width: 290px;
    transform: rotate(234deg);
  }

  &-17 {
    left: 89%;
    top: 63%;
    width: 100px;
    transform: rotate(236deg);
  }

  &-18 {
    left: -14%;
    top: 16%;
    width: 300px;
    transform: rotate(196deg);
  }

  &-19 {
    left: 67%;
    top: 85%;
    width: 237px;
    transform: rotate(204deg);
  }

  &-20 {
    left: -10%;
    top: 78%;
    width: 304px;
    transform: rotate(14deg);
  }
}
