@use 'variable' as var;

@mixin font($index) {
  font-family: 'Ubuntu';
  font-size: map-get(var.$font-size, $index);
  font-weight: map-get(var.$font-weight, $index);
  line-height: map-get(var.$line-height, $index);

  @media (max-width: #{var.$mobile-device-max-width}) {
    font-size: map-get(var.$font-size--mobile, $index);
    font-weight: map-get(var.$font-weight--mobile, $index);
    line-height: map-get(var.$line-height--mobile, $index);
  }

  &::selection {
    background: map-get(var.$color, gold);
    color: map-get(var.$color, white);
  }
  &::-moz-selection {
    background: map-get(var.$color, gold);
    color: map-get(var.$color, white);
  }
}

@for $i from 0 through 7 {
  .font-#{$i} {
    @include font($i);
  }
}
