@use '../_base/typography' as typography;
@use '../_base/variable' as var;

.page-title-section {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 36px;
  }

  &__wave-and-title {
    width: min-content;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    @media (max-width: 767px) {
      margin-right: 12px;
    }
  }

  &__wave {
    width: auto;
    margin-bottom: 12px;
    height: 12px;
  }

  &__title {
    @include typography.font($index: 1);
    width: fit-content;
  }

  &__space {
    border-top: 1px solid map-get(var.$color, grey-3);
    flex-grow: 1;
  }
}
