@use '../_base/variable' as var;

.service-section {
  display: flex;
  flex-direction: column;
  padding: 60px max(16px, 5%, (100% - 1200px)/2) 75px max(16px, 5%, (100% - 1200px)/2);
  overflow: hidden;
  @media (max-width: 767px) {
    padding-top: 56px;
    padding-bottom: 65px;
  }
  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 76px;
    @media (max-width: 767px) {
      margin-bottom: 100px;
    }
  }
  &__content {
    display: flex;
    gap: 10%;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.title-section {
  &__image-and-title {
    display: flex;
    flex-direction: column;
    width: min-content;
  }
  &__title {
    margin-bottom: 8px;
  }
}

.content-section {
  @media (max-width: 767px) {
    gap: 156px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      position: relative;
      flex: 0 1 auto;
    }
  }
  &__image-and-line {
    position: relative;
    @media (max-width: 767px) {
      width: 45%;
      max-width: 200px;
      position: absolute;
      right: 0;
      top: -50%;
    }
  }
  &__image {
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
  }
  &__line {
    width: 100vw;
    height: 1px;
    background-color: map-get(var.$color, grey-2);
    position: absolute;
    top: 50%;
    margin-left: min(-16px, -5vw, (100vw - 1200px) / -2);
    @media (max-width: 767px) {
      z-index: -1;
      width: 1px;
      height: 200vh;
      top: -100vw;
      margin-left: 50%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 36px;

    @media (max-width: 767px) {
      margin-top: 0;
      width: 70%;
      z-index: 1;
    }
  }
}

.description-section {
  &__title {
    margin-bottom: 8px;
  }
  &__text {
    text-align: justify;
  }
}
