@use 'variable' as var;

.container {
  &--body {
    width: var.$body-width;
    min-height: calc(
      100vh -
        (var.$footer-height + var.$header-height + var.$body-top-margin + var.$body-bottom-margin)
    );
    box-sizing: content-box;
    margin: 0;
    padding: (var.$header-height + var.$body-top-margin) 100% var.$body-bottom-margin 100%;
  }
}
