@use 'variable' as var;
@use 'typography' as typography;
.dropdown {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid map-get(var.$color--primary, gold);

  &--full-width {
    width: 100%;
    justify-content: space-between;
  }

  &__selected-option {
    @include typography.font($index: 6);
    flex-grow: 1;
    text-align: left;
    color: map-get(var.$color--primary, gold);
    background-color: transparent;
    margin: auto 0 0 0;
    padding: 0px 19px 2px 8px;
  }

  &__options {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    width: 100%;
    text-align: left;
    color: map-get(var.$color--primary, black);
    background-color: map-get(var.$color--primary, white);
    margin: 0;
    padding: 0;
    box-shadow: map-get(var.$box-shadow, 1);
    z-index: 1;

    &--open {
      display: block;
    }
  }

  &__option {
    @include typography.font($index: 7);
    color: map-get(var.$color--primary, black);
    background-color: map-get(var.$color--primary, white);
    padding: 18px 0 0 17px;
    border: none;
    list-style-type: none;

    &:last-child {
      padding: 18px 0 18px 17px;
    }
  }

  &__divider {
    width: calc(100% - 19px);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid map-get(var.$color--primary, gold);
    margin-top: 18px;

    @media (max-width: var.$mobile-device-max-width) {
      margin-top: 8px;
    }
  }

  &__down-arrow {
    width: 17px;
    height: 12px;
    margin: auto 0 auto 0;
    stroke: map-get(var.$color--primary, gold);

    @media (max-width: var.$mobile-device-max-width) {
      width: 12px;
      height: 9px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.dropdown--white {
  &.dropdown {
    border-bottom: 1px solid map-get(var.$color--primary, white);
  }
  .dropdown__selected-option {
    color: map-get(var.$color--primary, white);
  }
  .dropdown__down-arrow {
    stroke: map-get(var.$color--primary, white);
  }
}
