@use 'variable' as var;

.main-content {
  width: var.$main-content-width;
  min-height: calc(
    100vh -
      (
        var.$large-footer-height + var.$large-header-height + var.$large-main-content-top-margin +
          var.$large-main-content-bottom-margin
      )
  );
  box-sizing: content-box;
  margin: 0;
  padding: (var.$large-header-height + var.$large-main-content-top-margin) 100%
    var.$large-main-content-bottom-margin 100%;

  @media (max-width: var.$mobile-device-max-width) {
    min-height: calc(
      100vh -
        (
          var.$small-footer-height + var.$small-header-height + var.$small-main-content-top-margin +
            var.$small-main-content-bottom-margin
        )
    );
    padding: (var.$small-header-height + var.$small-main-content-top-margin) 100%
      var.$small-main-content-bottom-margin 100%;
  }
}
