@use 'variable' as var;

.member-card {
  width: 100%;

  &__image {
    width: 100%;
    margin-bottom: 10px;
  }
  &__position {
    margin-bottom: 8px;
  }
  &__name {
    margin-bottom: 8px;
  }
  &__description {
    margin-bottom: 8px;
    color: map-get(var.$color--primary, gold);
    word-break: break-word;
    hyphens: auto;
  }
  &__skill {
    color: map-get(var.$color--primary, gold);
    margin-right: 8px;
    word-break: break-word;
    hyphens: auto;
  }
  &__intro {
    white-space: pre-wrap;
  }
}

@media (max-width: 767px) {
  .member-card {
    &__image {
      margin: 0 24px;
      width: calc(100% - 48px);
    }
  }
}
