@use 'typography' as typography;
@use 'variable' as var;

.milestone {
  margin-top: 76px;

  &-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    width: min(900px, 100%);
    margin-left: auto;
  }

  .phase {
    &:not(:first-child)::before {
      content: '';
      display: block;
      height: 36px;
      width: 42.5px;
      border-right: 1px solid map-get(var.$color, grey-2);
    }

    &__date-and-thing {
      display: flex;
      width: 100%;
      align-items: center;
    }

    &__date {
      margin-right: 36px;
      flex-shrink: 0;

      height: 85px;
      width: 85px;
      line-height: 85px;
      text-align: center;
      border: 1px solid map-get(var.$color, grey-2);
      border-radius: 50%;
    }

    &__things {
      flex-grow: 1;
    }

    .phase__thing + .phase__thing {
      margin-top: 16px;
    }
  }
  .amber {
    position: absolute;
    left: 125px;
    bottom: 442px;
    z-index: -1;
    @media (max-width: 1439px) {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .milestone {
    margin-top: 64px;

    &-wrap {
      margin-top: 62px;
    }

    &__title {
      text-align: center;
    }
    .phase {
      &:not(:first-child)::before {
        width: 38px;
      }
      &__date {
        margin-right: 12px;
        line-height: 76px;
        height: 76px;
        width: 76px;
      }
      .phase__thing + .phase__thing {
        margin-top: 8px;
      }
    }
  }
}
