@use 'typography' as typography;

.milestone {
  margin-top: 76px;

  p,
  h2 {
    margin: 0;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    width: min(900px, 100%);
    margin-left: auto;
    @include typography.font($index: 7);
  }

  &__title {
    @include typography.font($index: 1);
  }

  .phase {
    display: flex;
    margin-bottom: 16px;

    &__date {
      width: 61px;
      margin-right: 51px;
      flex-shrink: 0;
    }

    &__things {
      flex-grow: 1;

      p + p {
        margin-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .milestone {
    margin-top: 36px;

    &-wrap {
      margin-top: 76px;
    }

    .phase {
      &__date {
        margin-right: 36px;
      }
    }
  }
}
