// Colors
// Basic colors should not be directly used.
// Use colors like primary and accent colors.
$color: (
  charcoal: hsla(12, 4%, 23%, 1),
  gold: hsla(38, 76%, 60%, 1),
  cream: hsl(40, 66%, 92%, 1),
  cyan: hsla(191, 100%, 44%, 1),
  violet: hsla(284, 76%, 60%, 1),
  green: hsla(82, 56%, 47%, 1),
  red: hsla(0, 100%, 50%, 1),
  white: hsla(0, 0%, 100%, 1),
  black: hsla(0, 0%, 0%, 1),
  grey-1: hsla(0, 0%, 96%, 1),
  grey-2: hsla(0, 0%, 77%, 1),
  grey-3: hsla(0, 0%, 47%, 1)
);

$color--primary: (
  charcoal: map-get($color, charcoal),
  gold: map-get($color, gold),
  white: map-get($color, white),
  black: map-get($color, black),
  grey-1: map-get($color, grey-1),
  grey-2: map-get($color, grey-2),
  grey-3: map-get($color, grey-3)
);
$color--accent: (
  cyan: map-get($color, cyan),
  violet: map-get($color, violet),
  green: map-get($color, green)
);
$color--warning: map-get($color, red);

// Font sizes and weights
$font-size: (
  1: 36px,
  2: 36px,
  3: 24px,
  4: 20px,
  5: 20px,
  6: 16px,
  7: 16px
);

$font-weight: (
  1: 700,
  2: 700,
  3: 700,
  4: 700,
  5: 700,
  6: 700,
  7: 400
);

$line-height: (
  1: 48px,
  2: 48px,
  3: 36px,
  4: 25px,
  5: 25px,
  6: 22px,
  7: 22px
);

$font-size--mobile: (
  1: 22px,
  2: 18px,
  3: 18px,
  4: 14px,
  5: 12px,
  6: 14px,
  7: 14px
);

$font-weight--mobile: (
  1: 700,
  2: 700,
  3: 700,
  4: 700,
  5: 400,
  6: 700,
  7: 400
);

$line-height--mobile: (
  1: 36px,
  2: 28px,
  3: 28px,
  4: 20px,
  5: 16px,
  6: 20px,
  7: 20px
);

// Shadows
$box-shadow: (
  1: 1px 2px 4px 0px hsla(0, 0%, 0%, 0.25)
);

// Border radius
$border-radius: (
  1: 4px,
  2: 71px,
  3: 25px
);

// Header
$large-header-height: 96px;
$large-header-left-padding: 36px;
$large-header-right-padding: 36px;
$small-header-height: 66px;
$small-header-left-padding: 16px;
$small-header-right-padding: 21px;

// Footer
$large-footer-height: 380px;
$small-footer-height: 304px;

// Main Content
$main-content-right-and-left-padding: max(16px, 5%, (100% - 1200px) / 2);
$large-main-content-top-padding: 140px;
$large-main-content-bottom-padding: 140px;
$small-main-content-top-padding: 56px;
$small-main-content-bottom-padding: 0px;

// Mobile Device
$mobile-device-max-width: 767px;
