@use '../variable' as var;

.home {
  padding: var.$large-header-height 0 0 0;

  @media (max-width: var.$mobile-device-max-width) {
    min-height: calc(100vh - var.$small-footer-height);
    padding: var.$small-header-height 0 0 0;
  }

  &__section {
    width: 100%;
    padding-right: var.$main-content-right-and-left-padding;
    padding-left: var.$main-content-right-and-left-padding;
  }

  &__step-pin {
    width: 17px;
    height: 17px;
    background-color: map-get(var.$color--primary, gold);
    border-radius: 9px;
  }

  &__step-line {
    position: relative;
    width: 1px;
    background-color: map-get(var.$color--primary, grey-3);
  }
}
