@use '../components/variable' as var;

.tool-section {
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
  background-color: map-get(var.$color, grey-1);
  padding: 56px max(16px, 5vw, (100vw - 1200px)/2);

  background-image: url('@/assets/image/services/background_tool-section.png');
  background-position: center;
  background-size: contain;
  @media (max-width: 767px) {
    padding-top: 64px;
  }
  &__title {
    margin-bottom: 56px;
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 36px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}

.tool-item {
  display: flex;
  flex-direction: column;
  background-color: map-get(var.$color, white);
  border-radius: map-get(var.$border-radius, 3);
  padding: 20px;
  min-height: 180px;
  @media (max-width: 767px) {
    padding: 16px;
  }
  &__title {
    margin-bottom: 16px;
  }

  &__list {
    list-style: disc;
    margin-left: 24px;
    @media (max-width: 767px) {
      margin-left: 16px;
    }
  }
}
